# install4j response file for Bitbucket {{ bitbucket_version }}

app.bitbucketHome={{ bitbucket_home }}
app.defaultInstallDir={{ bitbucket_install_dir }}
app.install.service$Boolean=false

httpPort={{ bitbucket_http_port }}

installation.type=INSTALL

launch.application$Boolean=false

sys.adminRights$Boolean=true
sys.adminRightsUiRootUnix$Boolean=false
sys.languageId=en
